/* latin */

@font-face {
    font-family: "PostFinance Grotesk";
    src: url("PostFinanceGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "PostFinance Grotesk";
    src: url("PostFinanceGrotesk-BoldKursiv.woff2") format("woff2");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: "PostFinance Grotesk";
    src: url("PostFinanceGrotesk-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "PostFinance Grotesk";
    src: url("PostFinanceGrotesk-LightKursiv.woff2") format("woff2");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "PostFinance Grotesk";
    src: url("PostFinanceGrotesk-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "PostFinance Grotesk";
    src: url("PostFinanceGrotesk-MediumKursiv.woff2") format("woff2");
    font-weight: 500;
    font-style: italic
}
